---
---

@import "minimal-light";

// Custom styles
.news-section {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  padding-right: 15px; /* Optional: add padding to avoid hiding text behind the scrollbar */
}